.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    margin-right:  1px;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 76px;
    border-radius: 5px;
    cursor: pointer;
}
.sidebar-container:hover{
    background-color: rgb(235, 235, 235);
}
.sidebar-container img{
    height: 24px;
    margin-bottom: 5px;

}
.sidebar-container div{
    font-family: Arial;
    font-size: 10px;
    font-weight: 400;

}